# Ignore everything
*

# But not these files...
!.gitignore
!*.py
*_lastrun.py

# csv soubory, ktere nacita psychopy
!*.csv
# ale ignoruj datove csv, ktere tvori psychopy
*/**/data/*.csv
*/**/data2D3D/*.*

# ...even if they are in subdirectories
!*/

