# Ignore everything
*

# But not these files...
!.gitignore
!*.py

# csv soubory, ktere nacita psychopy
!*.csv
# ale ignoruj datove csv, ktere tvori psychopy
*/**/data/*.csv

# ...even if they are in subdirectories
!*/
